* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blur-layer {
  background: rgba(255, 255, 255, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.black-blur {
  background: rgba(0, 0, 0, 0.45);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-button {
  height: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px rgb(61, 61, 61);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(120, 120, 120);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
}